Connected Services/wcfHighTop/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfHighTop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcByParam_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcByParam" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcByParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcByParamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcByNoneParam_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcByNoneParam" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcByNoneParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcByNoneParamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcInsert" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_ProcDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcByParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcByParam" message="tns:IService1_ProcByParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcByParamResponse" message="tns:IService1_ProcByParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcByNoneParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcByNoneParam" message="tns:IService1_ProcByNoneParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcByNoneParamResponse" message="tns:IService1_ProcByNoneParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcInsert" message="tns:IService1_ProcInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcInsertResponse" message="tns:IService1_ProcInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcUpdate" message="tns:IService1_ProcUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcUpdateResponse" message="tns:IService1_ProcUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ProcDelete" message="tns:IService1_ProcDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ProcDeleteResponse" message="tns:IService1_ProcDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcByParam">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcByParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcByNoneParam">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcByNoneParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcInsert">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/ProcDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfHighTop/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>